<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <add name="QLTV" connectionString="HUYEN\SQLEXPRESS;Database=QLTV; Integrated Security=True"/>
    <add name="QLTV.Properties.Settings.QLTVConnectionString" connectionString="Data Source=HUYEN\SQLEXPRESS;Initial Catalog=QLTV;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="BTL_QLTV.Properties.Settings.QLTVConnectionString" connectionString="Data Source=HUYEN\SQLEXPRESS;Initial Catalog=QLTV;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="BTL_QLTV.Properties.Settings.QLTVConnectionString" connectionString="Data Source=HUYEN\SQLEXPRESS;Initial Catalog=QLTV;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
